<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <remove fileExtension=".mp4" />
            <remove fileExtension=".mov" />
            <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
            <mimeMap fileExtension=".mov" mimeType="video/quicktime" />
        </staticContent>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="209715200" />
            </requestFiltering>
        </security>
        <serverRuntime uploadReadAheadSize="209715200" />
    </system.webServer>
</configuration>
